*/.env.*
.DS_Store
.env


#front
loadtest-frontend/.env.production
loadtest-frontend/.npmrc
loadtest-frontend/node_modules
loadtest-frontend/.next/*
loadtest-frontend/logs/*

#back
loadtest-backend/node_modules
loadtest-backend/.env
loadtest-backend/dockerscript.sh
loadtest-backend/logs/*

#infra
loadtest-infra/.terraform
loadtest-infra/dev/.terraform.lock.hcl
loadtest-infra/dev/terraform.*

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
